body {
    font-family:'Roboto', 'Courier New', Courier, monospace;
    

/* nav {
    background-color:#1F2937;
    padding: 10px 160px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
 /* If it was nav, didnt work and the class selector for right-links
 wont do any effect. When I added a class .navigator and call it, then
 it worked. Check why 🤷 */

.navigator {
    background-color:#1F2937;
    padding: 10px 160px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    /* border: 2px dotted greenyellow; */
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

.header-hero {
    border: 2px solid rgb(230, 219, 23);
    background-color:#1F2937;
    color: #F9FAF8;
    padding: 100px 160px;
    display: flex;
    gap: 40px;
    /* justify-content: space-between;
    align-items: center; */
}

.title-container {
    border: 2px solid rgb(68, 255, 0);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: 48px;
    font-weight: 900px;
}

.sub-title {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

.sign-up {
    color: #F9FAF8;
    padding: 4px 18px;
    border: 1px solid #3882F6;
}

.img-hero {
    border: 2px solid red;
    display: flex;
    flex: 1;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.info-section {
    padding: 30px 160px 70px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.random-container {
    display: flex;
    border: 2px dotted red;
    /* justify-content: space-between; */
    gap: 30px;
}

.objects {
    border:2px solid greenyellow;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.squares {
    border: 2px solid blue;
    height: 150px;
    width: 150px;
    border-radius: 9px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 30px 160px 70px 160px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* border: 2px solid rgb(0, 255, 72); */
    
}

.the-quote {
    border: 2px solid blue;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200px;
}

.author {
    border: 2px solid blue;
    font-weight: bolder;
    font-size: 18px;
}

.cta-section {
    padding: 30px 160px 70px 160px;
}

.banner {
    padding: 15px 80px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
}

.text-container {
    color: white;
}

.cta-title {
    font-size: 20px;
    font-weight: bold;
}

.cta-sign {
    border: 1px solid white;
    color: #F9FAF8;
}

.footer {
    background-color:#1F2937;
    color: #F9FAF8;
    padding: 15px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}