body {
    /* font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif; */
    
}

nav {
    background-color:#1F2937;
    padding: 10px 160px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-right-links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

.header-hero {
    border: 2px solid rgb(230, 219, 23);
    background-color:#1F2937;
    color: #F9FAF8;
    padding: 100px 160px;
    display: flex;
    gap: 40px;
    /* justify-content: space-between;
    align-items: center; */
}

.title-container {
    border: 2px solid rgb(68, 255, 0);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: 48px;
    font-weight: 900px;
}

.sub-title {
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 18px;
    border-radius: 14%;
}

.img-hero {
    border: 2px solid red;
    display: flex;
    flex: 1;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.info-section {
    padding: 30px 160px 70px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.random-container {
    display: flex;
    border: 2px dotted red;
    /* justify-content: space-between; */
    gap: 30px;
}

.objects {
    border:2px solid greenyellow;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.squares {
    border: 2px solid blue;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 30px 160px 70px 160px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid rgb(0, 255, 72);
    
}

.the-quote {
    border: 2px solid blue;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200px;
}

.author {
    border: 2px solid blue;
    font-weight: bolder;
    font-size: 18px;
}